* {
  margin: 0 auto;
}

body {
  background-color: gray;
  font-family: 'Arimo';
  text-align: center;
  margin-top: 5rem;
}

h1 {
  font-size: 35px;
  border: solid .5rem;
  color: white;
  padding: .5rem;
  width: 20%;
}

div {
  font-size: 48px;
  margin-top: 10rem;
  color: white;
}

.current-character {
  color: #51EF05;
  text-decoration: underline black;
}

.failed {
  color: red;
}
